/*Настройка модальных окон*/

.modal {
    $parent: &;
    $screen-height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .2);
    opacity: 0;
    transition: .2s;


    &--s &__dialog {
        width: 300px;
    }

    &--m &__dialog {
        width: 600px;
    }

    &--l &__dialog {
        width: 900px;
    }

    &--screen-height &__dialog {
        height: $screen-height;
    }

    &--active {
        visibility: visible;
        opacity: 1;

        #{$parent}__dialog {
            transform: translateY(0);
        }
    }

    &--has-scroll {

        #{$parent}__dialog-header,
        #{$parent}__dialog-header {
            position: relative;
            z-index: 5;
            box-shadow: 0 0 8px rgba (0, 0, 0, .4);
        }
    }
}

.modal__dialog {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 80vh;
    background-color: white;
    border-radius: 8px;
    transition: .2s;
    transform: translateY(-50px);

    &-header,
    &-footer {
        transition: .2s;
    }

    &-header,
    &-body,
    &-footer {
        padding: 20px 40px;
    }
}

.modal__dialog-header {
    display: flex;
    align-items: center;

    &-content {
        flex-grow: 1;
        font-size: 24px;
        line-height: 24px;
    }

    &-close {
        display: flex;
        align-items: center;

        &-btn {
            margin: 0;
            padding: 0;
            background: none;
            border: 0;
            cursor: pointer;
            font-size: 24px;
            line-height: 24px;
        }
    }
}

.modal__dialog-body {
    flex-grow: 1;
    overflow: auto;
}

.modal__dialog-footer {}

.js-modal-close {}

.btn-close {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 28px;
    color: #354664;
    cursor: pointer;
    background-color: #ebedee;
    border: 0;
    border-radius: 4px;
    transition: .2s;


    &:hover {
        background-color: darken(#ebedee, 30%);
    }

}

/*Карточки при наведении*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.section-hover {
    width: 1440px;
    margin: 0 auto;
}

.section-hover__container {
    display: flex;
    justify-content: center;


}


figure {
    width: 300px;
    height: 300px;
    background-color: #F06292;

    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

figure h2 {
    transition: 0.2s;
    transform: translateY(20px);
}

figure p {
    transition: 0.2s;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
}

figure:before {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-top: solid 2px;
    border-bottom: solid 2px;
    transition: 0.2s;
    transform: scaleX(0);
}


figure:after {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-left: solid 2px;
    border-right: solid 2px;
    transition: 0.2s;
    transform: scaleY(0);
}

figure:hover:before,
figure:hover:after {
    transform: scale(1);
}

figure:hover h2,
figure:hover p {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/*3D Карточки*/

.card-3d {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #131313;
}

.card-3d__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.card-3d__container .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.box:before {
    content: 'NIKE';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
}

.box:hover:after,
.box:hover:before {
    opacity: 0.04;
}

.box:after {
    content: 'SHOES';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: .5s;
}

.name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    transition: .5s;
    opacity: 0;
    z-index: 10;
}

.box:hover .name {
    top: 40px;
    opacity: 1;
}


.buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: .5s;
    opacity: 0;
    z-index: 10;
}

.box:hover .buy {
    bottom: 30px;
    opacity: 1;
}

.box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: .5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 0;
    transform: translate3d(-50%, -50%, 50px);
}

.box:hover .circle {
    opacity: 1;
}

.box .product {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    //height: 200px;
    transition: .5s;
    transform-style: preserve-3d;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
    z-index: 11;
}

.box:hover .product {
    transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}

.card-3d__container .box:nth-child(1) .circle,
.card-3d__container .box:nth-child(1) .buy {
    background: #379bf3;
}

.card-3d__container .box:nth-child(2) .circle,
.card-3d__container .box:nth-child(2) .buy {
    background: lime;
}

.card-3d__container .box:nth-child(3) .circle,
.card-3d__container .box:nth-child(3) .buy {
    background: #004DA6;
}