ul.btn-3d__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.btn-3d__nav {
    list-style: none;

}

.btn-3d__item {
    margin: 0 5px;
}

.btn-3d__link {
    text-decoration: none;
    display: absolute;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skewX(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);


    .fa {
        font-size: 40px;
        color: #333;
        line-height: 80px;
        transition: .5s;
        padding-right: 14px;

        &:hover {
            color: #fff;
        }
    }


    .btn-3d__text {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 30px;
        color: #333;
        letter-spacing: 4px;
        transition: .5s;



    }

}

.btn-3d__link:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

.btn-3d__link:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.btn-3d__link:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);

}

.btn-3d__nav .btn-3d__item:hover .fas {
    color: #fff;
}

.btn-3d__nav .btn-3d__item:hover .btn-3d__text {
    color: #fff;
}

.btn-3d__nav .btn-3d__item:hover .btn-3d__link,
.btn-3d__nav .btn-3d__item:hover .btn-3d__link:after,
.btn-3d__nav .btn-3d__item:hover .btn-3d__link:before {
    background: lime;
}

/* fly*/

.fly {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;


}

.fly-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 210px;
    height: 140px;
    border: 2px solid brown;

    transform: rotate(-30deg) skewX(25deg) translate(0, 0);
}

.fly-box:nth-child(1) {
    top: 20px;
    background: tomato;
    z-index: 3;


}

.fly-box:nth-child(2) {
    top: 40px;
    background: lime;
    z-index: 2;

}

.fly-box:nth-child(3) {
    top: 60px;
    background: orange;
    z-index: 1;

}


/*Social icons*/

.fly-social {
    position: relative;
    background: #dedede;
    height: 80px;
}

.fly-social__box {
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.fly-social__item {
    list-style: none;
}

.fly-social__link {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;

    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .2s;
}


ul.fly-social__box li.fly-social__item a.fly-social__link:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

ul.fly-social__box li.fly-social__item a.fly-social__link .fa {
    display: block;
    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .2s;

}


ul.fly-social__box li.fly-social__item:nth-child(1) a.fly-social__link:hover .fa {
    color: #3b5998;
}

ul.fly-social__box li.fly-social__item:nth-child(2) a.fly-social__link:hover .fa {
    color: #00aced;
}

ul.fly-social__box li.fly-social__item:nth-child(3) a.fly-social__link:hover .fa {
    color: #dd4b39;
}

ul.fly-social__box li.fly-social__item:nth-child(4) a.fly-social__link:hover .fa {
    color: #007bb6;

}

ul.fly-social__box li.fly-social__item:nth-child(5) a.fly-social__link:hover .fa {
    color: #bc2a8d;
}



.social-3d {}

.social-3d__box {
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    transform: rotate(-25deg) skew(25deg);
}

.social-3d__item {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 10px;
}

.social-3d__link span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: rgba(255, 255, 255, 0.2);
    font-size: 30px;

    transition: .5s ease-in-out;
}

.social-3d__item:hover span {
    z-index: 1000;
    transition: .5s ease-in-out;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5)
}



.social-3d__item:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.social-3d__item:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

.social-3d__item:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

.social-3d__item:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

.social-3d__item:hover span:nth-child(1) {
    transform: translate(0px, -0px);
    opacity: 0.2;
}

.social-3d__item:nth-child(1):hover span {
    background: #3b5998;
}

.social-3d__item:nth-child(2):hover span {
    background: #bc2a8d;
}

.social-3d__item:nth-child(3):hover span {
    background: #007bb6;
}

.social-3d__item:nth-child(4):hover span {
    background: #dd4b39;
}

.social-3d__item:nth-child(5):hover span {
    background: #00aced;
}

.social-3d__item:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}

.social-3d__item:after {
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    width: 10px;
    height: 101%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-41deg);
}

.image-hover {
    padding: 120px 0 120px 0px;
    height: auto;
}


.container-fluid {}

.container-main {}

.row {}

.col-sm-4 {}

.image-hover__box {
    position: relative;
    width: 85%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    background: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;



    .image-hover__content {
        position: absolute;
        bottom: -40px;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
        transition: .3s ease-in-out;
        opacity: 0;

        h3 {
            font-size: 48px;
            color: #fff;
            font-weight: 700;
            letter-spacing: 7px;
        }

        p {
            font-size: 14px;
            color: #fff;
            font-weight: 400;
        }

        .btnD {
            border: none;
            background: #3b5998;
            color: #fff;
            padding: 10px 20px;

            &:hover {
                background: #fff;
                color: #3b5998;

            }
        }
    }
}

.image-hover__box:hover {
    transform: translateY(-30px);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.image-hover__box:hover .image-hover__content {
    opacity: 1;
    bottom: 0;
}

.image_box {
    position: relative;
    transition: .3s ease-in-out;

    &:hover {
        opacity: 0.4;
        transform: translateY(-40px);
    }

    img {
        width: 400px;
        height: auto;
        transition: .3s ease-in-out;
    }
}

section.blur {
    position: relative;
    width: 1440px;
    height: 100vh;
}

.layer-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    //background: url(unsplash.jpg);
    background: url(../img/unsplash.jpg);
    //background-attachment: fixed;
    background-position: center;
    transition: .2s;
}

.layer-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 450px;
    background: url(../img/unsplash.jpg);
    //background-attachment: fixed;
    background-position: center;
    transition: .2s;
    z-index: 1;
}

.layer-1:hover~.layer-2 {
    filter: blur(10px);
}

.layer-1:hover {
    transition: .2s;
    box-shadow: 0 25px 60px (0, 0, 0, .8);
}



/*focus-blur"*/

.focus-blur {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#80adc3, #495e69);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(-20deg) skew(25deg);
    animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: rotate(-20deg) skew(25deg) translate(0, 0);
        text-shadow: -5px 5px 0 rgba(0, 0, 0, .2);
    }

    50% {
        transform: rotate(-20deg) skew(25deg) translate(50px, -50px);
        text-shadow: -50px 50px 0 rgba(0, 0, 0, .2);
        filter: blur(15px);
    }
}